<a href="https://colab.research.google.com/github/jcfsz12/anahuac_programacion_tareas/blob/main/Clase_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# print()

In [1]:
print("Hola Inmundo!")

Hola Inmundo!

## print con formato
Usando especificadores de conversión.

In [2]:
print("Dulces:%d, Galletas:%5d" % (240, 120)) # Enteros

Dulces:240, Galletas:  120

In [3]:
print("Temperatura: %2.1f C" % (20.432)) # Flotantes

Temperatura: 20.4 C

In [5]:
print("%o" % (1234)) # Bases numericas
print("%X" % (1234))

2322
4D2

In [6]:
print("%9.3E" % (356.08977))

3.561E+02

# Ejercicio

In [17]:
nombre = "Juan"
edad = 32
ID = 433998
programa = "MTIIA"
semestresTotales = 4
semestresCursados = 2

print(f'Mi nombre es: {nombre}\nTengo {edad} años\nMi ID es: {ID}\nEl programa que estoy estudiando es: {programa}\nMe quedan tantos semestres: {semestresTotales - semestresCursados}')

Mi nombre es: Juan
Tengo 32 años
Mi ID es: 433998
El programa que estoy estudiando es: MTIIA
Me quedan tantos semestres: 2

In [34]:
operaciones = [5+3,5-3,5*3,5/3,5//3,5%3]
print("%o" % (operaciones[0]))

10

# Casting
Sirve para transformar un objeto de un tipo a otro.

In [ ]:
int()
float()
str()